body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.contact{
    font-style: normal;
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus{
    color: #404bbf
}
h1{
    text-transform: capitalize;
    line-height: 60px;
}
.accent{
    color: var(--navy-blue);
}
:root{
    --navy-blue: #2e2f42;
    --slate: #434455;
}
.nav{
    color: var(--color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button{
    font-size: 16px;
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

}
.button:hover,
.button:focus{
    background-color: #404bbf;
}
.paragraph{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link{
    text-decoration: none;
    list-style-type: none;

}
.list{
    list-style: none;
}
.nav:hover,
.nav:focus{
    color: #404bbf;
}
.first-section{
    background-color: var(--navy-blue);
}
.big-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.heading-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.headed-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}
.fourth-section{
    background-color: #f4f4fd;
}