body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: var(--main-color);
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.contact{
    font-style: normal;
    text-decoration: none;
    color: #434455;
}
h1{
    text-transform: capitalize;
    line-height: 60px;
}
.accent{
    color: #2e2f2e;
}
:root{
    --main-color: #2e2f2e;
}
.nav{
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button{
    font-size: 16px;
    background-color: #4d5ae5;
}
p{
    color: #434455;
}
.link{
    text-decoration: none;
    list-style-type: none;

}
.list{
    list-style: none;
}